:root {
  --pinetree-low-color: #374f3c;
  --pinetree-medium-color: #517058;
  --pinetree-top-color: #678a6f;
  --pinetree-trunk-color: #5c4a3c;
}

.tree {
  position: absolute;
}

.pine-leaves {
  position: absolute;
  width: 100%;
  height: 70%;
}

.pine-low-inner1 {
  background-color: var(--pinetree-low-color);
  position: absolute;
  height: 100%;
  width: 60%;
  left: 70%;
  border-radius: 50%;
}

.pine-low-inner2 {
  background-color: var(--pinetree-low-color);
  position: absolute;
  height: 100%;
  width: 60%;
  left: -30%;
  border-radius: 50%;
}

.pine-low {
  background-color: var(--pinetree-low-color);
  position: absolute;
  width: 60%;
  height: 35%;
  top: 80%;
  left: 20%;
  animation-name: foliage-move;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.pine-medium {
  background-color: var(--pinetree-medium-color);
  position: absolute;
  width: 50%;
  height: 30%;
  top: 55%;
  left: 25%;
  animation-name: foliage-move;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.pine-medium-inner1 {
  background-color: var(--pinetree-medium-color);
  position: absolute;
  height: 100%;
  width: 60%;
  left: 70%;
  border-radius: 50%;
}

.pine-medium-inner2 {
  background-color: var(--pinetree-medium-color);
  position: absolute;
  height: 100%;
  width: 60%;
  left: -30%;
  border-radius: 50%;
}

.pine-top {
  background-color: var(--pinetree-top-color);
  position: absolute;
  width: 35%;
  height: 20%;
  top: 37%;
  left: 32.5%;
  animation-name: foliage-move;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.pine-top-point {
  position: absolute;
  width: 102%;
  height: 120%;
  top: 12%;
  left: -50%;
  border-radius: 40% 0 0 0;
  background-color: var(--pinetree-top-color);
  transform: translate(50%, -50%) rotate(45deg);
}

.pine-top-inner1 {
  background-color: var(--pinetree-top-color);
  position: absolute;
  height: 100%;
  width: 60%;
  left: 70%;
  border-radius: 50%;
}

.pine-top-inner2 {
  background-color: var(--pinetree-top-color);
  position: absolute;
  height: 100%;
  width: 60%;
  left: -30%;
  border-radius: 50%;
}

@keyframes foliage-move {
  from {
  }
  20% {
    transform: translateY(4px);
  }
  40% {
    transform: translateY(-4px);
  }
  to {
  }
}

.pine-trunk {
  position: absolute;
  top: 68%;
  width: 100%;
  height: 25%;
}

.pine-wood {
  position: absolute;
  height: 100%;
  width: 20%;
  left: 40%;
  background-color: var(--pinetree-trunk-color);
}

.pine-inner-wood {
  position: absolute;
  background-color: var(--pinetree-trunk-color);
  width: 100%;
  height: 10%;
  top: 95%;
  border-radius: 50%;
}
