.message {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.message > img {
  width: 90px;
  height: 90px;
  align-self: flex-end;
}

@media (max-width: 475px) {
  .nes-balloon > p {
    font-size: 10px;
  }
  .nes-balloon {
    left: -15px;
  }
}
