.content {
    background-color: darkgray;
    z-index: 99;
    width: 90%;
    height: 90%;
    opacity: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}