.content {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.content.nes-container.with-title > .title {
  background-color: rgb(231, 231, 231);
  margin: -2rem auto 1rem;
}

.content p {
  font-size: 14px;
}

.content h4 {
  text-decoration: underline;
}
