.nav {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  width: fit-content;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.active::before {
  content: '';
  position: absolute;
  top: calc(100% - 8px);
  left: 8px;
  width: calc(100% - 16px);
  height: 4px;
  background-color: #2600ff;
}

.nes-btn.is-success {
  color: #000;
}

.nes-btn.is-success:hover {
  color: #000;
}

.nes-btn.is-success:active {
  color: #000;
}
